{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
<h1 class="text-center p-5 uppercase"> mon compte </h1>
<p>Bienvenue {{app.user.nom}} {{app.user.prenom}} dans les paramètres de votre compte</p>
<a href="{{path('app_account_password')}}">Modifier le mot de passe</a>

{% endblock %}
